* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
CMakeLists.txt text eol=lf
*.cmake text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cppm text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.inl text eol=lf
*.ipp text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.hdr binary
*.bin binary
*.npz binary
*.npy binary
